.wpsolr_premium_text_class {
    margin-right: 5px;
}

.col_left a.wpsolr-help {
    background-image: url('../images/help.png');
    height: 15px;
    width: 15px;
    float: right;
    margin-right: -20px;
    display: inline-block;
    background-size: 98%;
    text-decoration: none;
    color: transparent;
}

.wp-admin .wdm_row select {
    font-size: 13px;
    height: 20px;
}

.wpsolr_premium_block_class {
    float: left;
    padding-bottom: 15px;
    width: 100%
}

a.wpsolr_premium_class {
    float: none;
    margin-right: 5px;
    display: inline-block;
}

a.wpsolr_premium_class.nav-tab span {
    margin-left: 5px;
    font-size: 11px;
}

a.thickbox.wpsolr_premium_class {
    color: #1d9497;
    font-weight: normal;
}

a.wpsolr_premium_class.nav-tab {
    background-color: #fff6a6;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 45px;
    height: 45px;
    padding: 8px;

    background: #fff;
    border: 2px solid #C15F03;
    text-align: center;
    color: #C15F03;

    font: 32px Arial, sans-serif;
}

.wdm-wrap {
    margin: 10px 20px 0 2px;
}

.solr_error {
    color: red;
    font-size: 16px;
    margin-left: 10px
}

.text_error {
    color: red;
    font-size: 16px;
}

.wdm_row {
    width: 98%;
    padding: 0 1%;
}

.col_left {
    float: left;
    width: 40%;
    padding: 10px 20px 10px 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.col_right {
    float: left;
    width: 50%;
    padding: 10px;
}

.wrapper {
    background-color: #fff !important;
    border: 1px #ccc;
    margin-bottom: 15px;
}

.wdm-save {
    /*padding: 10px !important ;*/
    background: #F49537 !important;
    border-color: #C15F03 !important;
}

.wdm-save:hover {
    background: #C15F03 !important;
}

#hosted_on_other, #div_self_hosted, .indexing_option {

    background-color: #fff !important;
    border: 1px #ccc;
}

.head_div {
    color: #C15F03;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin: 0;
}

.col_right input[type=radio]:checked:before {
    background-color: #C15F03 !important;
}

.col_right input[type=checkbox]:checked:before {
    color: #C15F03 !important;
}

.col_right input[type=text], .col_right textarea {
    width: 99%;
}

.wdm_heading {
    color: #C15F03;
    background: #fff;
    border-left: 4px solid #C15F03;
    padding: 0.5px 15px;
}

.wdm_heading h3 {
    color: #C15F03;
}

.img-right {
    width: 100px !important;
}

/*new stuff start here*/
.col_left_fac {
    display: inline;
}

.col_left_val {
    width: 90%;
}

.col_left_val > a {
    float: right;
}

.col_right_fac {
    display: inline-block;
}

.sel_fac_nav {
    float: right;
}

.wdm_note {
    font-style: italic;
    color: #C15F03;
    margin: 20px;
    background: #ddd;
    padding: 15px;
    border-left: 4px solid #C15F03;
}

.wpsolr_license_popup .wdm_note {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    color: #f8f8f8;
    margin: 20px;
    background: #e668fe;
    padding: 15px;
    border-left: 4px solid #0a5374;
}

.name_err, .host_err, .port_err, .path_err, .key_err, .sec_err {
    color: red;
}

.success {
    background-image: url('../images/success.png');
    height: 22px;
    width: 22px;

    display: inline-block;
    background-size: 98%;
}

.warning {
    background-image: url('../images/warning.png');
    height: 18px;
    width: 18px;
    background-size: 98%;
    display: inline-block;
}

.loading {
    background-image: url('../images/gif-load_cir.gif');
    background-size: 98%;
    width: 22px;
    height: 22px;
    display: inline-block;

}

#index_host, #index_port, #index_path, #index_key, #index_secret, #index_name {
    width: 550px;
}

/*CSS for tab panel*/
.wdm-vertical-tabs {
    float: left;
    width: 15%;
    min-width: 85px;
    margin-right: -1px;
    border-bottom: 0 none !important;
}

.wdm-vertical-tabs a {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-right: 0;
    margin-bottom: 5px;
    float: right;
    width: 200px;
}

.wdm-vertical-tabs-content {
    float: left;
    width: 76%;
    padding: 0 2%;
    border-left: 1px solid #ccc;
}

#search_que {
    height: 32px;
}

.facets {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    cursor: move;
    background: #f1f1f1;
}

.plus_icon {
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer
}

.minus_icon {
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;

}

.plus_icon_sort {
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer
}

.minus_icon_sort {
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;

}

.wdm-instructions {
    list-style: outside square;
    padding-left: 15px;
}

.avail_fac {
    width: 50%;
}

.wpsolr_custom_field_selected {
    float: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px lightgrey;
}
